input.ng-invalid-required {
    border: 1px solid #ff0000;
}
.jumbotron{
    width: 400px;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    margin-bottom: 5px;
}