<!DOCTYPE html>
<html ng-app="appPrincipal">

<head>

        <title>Cadastro Usuário</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>


</head>


<body ng-controller="HomeController as homeCtrl">

    <div ng-controller="CadastroController as cadastroCtrl" class="jumbotron">
        <form ng-submit="cadastroCtrl.cadastrar(cadastroCtrl.user)">

           
            <input type="text" class="form-control" ng-required="true" ng-model="cadastroCtrl.user.nome" placeholder="Nome"> <br/>

            <input type="text" class="form-control" ng-required="true" ng-model="cadastroCtrl.user.cpf" placeholder="CPF"><br/>

            <input type="text" class="form-control" ng-required="true" ng-model="cadastroCtrl.user.agencia" placeholder="Agencia"><br/>

            <input type="text" class="form-control" ng-required="true" ng-model="cadastroCtrl.user.conta" placeholder="Numero da Conta"><br/>

            <input type="password" class="form-control" ng-required="true" ng-model="cadastroCtrl.user.senha" placeholder="Senha"><br/>

            <input class="btn btn-primary btn-block" type="submit" value="Cadastrar"><br/>

            <input class="btn btn-primary btn-block" type="button" value="voltar"><br/>

        </form>

    </div>

   

</body>


</html>